.Box{
    width: 390px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card{
    background-color: #F3F3F3;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 540px;
    img{
        width: 70%;
        height: auto;
    }
}